

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='forgot.css') }}">
    <title>Sthish login page</title>
    <script src="https://kit.fontawesome.com/dbf63de95c.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="container">
      <h1 class="header">Update Password</h1>
      <form action="/forgot" method="POST" class="main">
        <div class="inner">
          <div class="input">
          <input type="text" name="user" placeholder="Username"/>
          <i class="fa-solid fa-user"></i>
          </div>
          <div class="input">
            <input type="password" name="new_pass" placeholder="New Password" required/>
            <i class="fa-solid fa-lock"></i>
          </div>
          <div class="input">
            <input type="password" name="con_pass" placeholder="Confirm Password"/>
            <i class="fa-solid fa-lock"></i>
          </div>
        </div>
        <button type="submit" value="Submit" class="btn">Submit</button>
        <div class="end">
          <p>Know your password please <a href="/">Login</a></p>
        </div>
      </form>
    </div>
  </body>
  
  </html>
</html>





